<!DOCTYPE html>
<html  lang="en"
xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 
<head th:replace="common/candidateheader :: commonheader">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
 <!--    <div th:replace="common/header :: commonPreloader">
</div> -->
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
       <div th:replace="common/candidateheader:: commonNavHeader">
</div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
     <div th:replace="common/candidateheader :: commonTopNav"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       <div th:replace="common/candidateheader :: commonsidenav"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
              
       <div class="container-fluid">
                                           	<div class="alert alert-success" role="alert" th:if="${Successfull == 'success'}">Password updated successfully
                                           			<div style="display: none;"> 
						 <form th:action="@{/user/logout}" method="post"> 
						<button id="logoutAuto" type="submit"></button> 
						</form>
           </div>
						<script type="text/javascript">
						

					
						window.onload = function(){
							
							removeAtagHerf();
							
							setTimeout( function () {
								 	   document.getElementById("logoutAuto").click();
							}, 3000);
						
						};
						
						
						function removeAtagHerf(){
							console.log('removeAtagHerf()');
						 var anchors = document.querySelectorAll('a[href]');
						    anchors.forEach(function(a) {
						        a.href ="/logout";
						        console.log("Hyperlink Changed");
						    });
							
						};

						
						
						document.body.addEventListener('click',  function () {
						   document.getElementById("logoutAuto").click();
							  
							  
						}, true); 
						
						</script>
                                           	
                                           	
                                           	</div>
					        
					        	<div class="alert alert-danger" role="alert" th:if="${failed == 'fail'}"> <span th:text="${message}"></span></div>
               
          
            </div>
      
       
        <div class="container h-100" style="margin-top: 10%">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="#"> <h2>Change Password</h2></a>
                                <br>
        	                                                <div class="differentPass" id="differentPass" style="display: none;color:red">
Old password and new password needs to be different
                  </div>
                                                         <div class="samePass" id="samePass" style="display: none;color:red">
 new password and confirm password needs to be same
                  </div>
                                <form id="changePassform" class="mt-5 mb-5 login-input" role="form" th:action="@{/user/changePassword}" method="post">
                                    <div class="form-group"><div style="display: flex;">
                                        <input class="form-control" type="password" name="oldPassword" id ="oldPassword" placeholder="Old Password" required="required">
                                 <span class="form-control-text mt-1"><i class="far fa-eye" id="togglePassword"></i></span><span class="text-danger">*</span>
                                    </div></div>
                                    <div class="form-group"><div style="display: flex;">
                                        <input  class="form-control" type="password" name="defaultPassword" id= "defaultPassword" placeholder="Password" required="required">
                                         <span class="form-control-text mt-1"><i class="far fa-eye" id="togglePassword1"></i></span><span class="text-danger">*</span>
                                    </div>
                                                                  <div class="PassLength" id="PassLength" style="display: none;color:red">
Password must contain Minimum 6 and Maximum 16 characters
                  </div>
                  <div class="WrongPass" id="WrongPass" style="display: none;color:red">
Password should contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character
                  </div>
                                    </div>
                                     <div class="form-group">
                                     <div style="display: flex;">
                                        <input  class="form-control" type="password" name="confirmPassword" id= "confirmPassword" placeholder="Confirm Password" required="required">
                                        <span class="form-control-text mt-1"><i class="far fa-eye" id="togglePassword2"></i></span><span class="text-danger">*</span>
                                          </div>
                                    </div>
                                    <button  type="submit"  class="btn login-form__btn submit w-100">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
     
     
      
        
                
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
       <script type="text/javascript">    
       const from =document.getElementById("changePassform");
       const oldPassword1 =document.getElementById("oldPassword");
       const password1 =document.getElementById("defaultPassword");
       const confirmPassword1 =document.getElementById("confirmPassword");
       
       
       from.addEventListener('submit',function(e){
    	   let meassage=[];
 		  let pass1=passValidation();
 		  let minlength=6;
		  let maxlength=16;
 		  
 		 
		  if(password.value.length< minlength || password.value.length > maxlength){
			  meassage.push("password length"); 
			  document.getElementById("PassLength").style.display='block'; 
  			
		     console.log("password length")
		    }else{
		    	  document.getElementById("PassLength").style.display='none';                   				
		    }
		  
		  if(pass1==false){
			  meassage.push("alteast one upper case and one lowercase"); 
		  }else{  
			  document.getElementById("WrongPass").style.display='none'; 
		  }
		  
		  
	 if(oldPassword1.value==password1.value){
		 meassage.push("");
 			 document.getElementById("differentPass").style.display='block';  
 		 }else{
 			 document.getElementById("differentPass").style.display='none';
 		 }
 		  if(confirmPassword1.value==password1.value){
 			 document.getElementById("samePass").style.display='none';  
 		 }else{
 			meassage.push("");
 			 document.getElementById("samePass").style.display='block';
 		 } 
 		  
 		  
		  if(meassage.length>0){
			  e.preventDefault();
		  }
    	   
       });
       
       
       function passValidation(){
    	   var PassregularExpression  =/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
    	    if(password1.value.match(PassregularExpression)){
    				  return true;  
    			  }else{	
    				  document.getElementById("WrongPass").style.display='block'; 
    				  return false;
    			  }
    	  	  
    	    }
        
        </script> 
        
          <script type="text/javascript">
const togglePassword = document.querySelector('#togglePassword');
const Oldpassword = document.querySelector('#oldPassword');

togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = Oldpassword.getAttribute('type') === 'password' ? 'text' : 'password';
    Oldpassword.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

const togglePassword1 = document.querySelector('#togglePassword1');
const password = document.querySelector('#defaultPassword');
togglePassword1.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});


const togglePassword2 = document.querySelector('#togglePassword2');
const confirmPassword = document.querySelector('#confirmPassword');
togglePassword2.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
    confirmPassword.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>
        <script type="text/javascript">
$(function() {
    $('#oldPassword').on('keypress', function(e) {
    
        if (e.which == 32||e.which==39){
            return false;
        }
    });
});       

 $(function() {
      $('#password').on('keypress', function(e) {    
       if (e.which == 32||e.which==39){
           return false;
         }
     });
 	});
              
              $(function() {
          	    $('#confirmPassword').on('keypress', function(e) {
          	    
          	        if (e.which == 32||e.which==39){
          	            return false;
          	        }
          	    });
          	});
    
          

</script>
        <!--**********************************
            Footer start
        ***********************************-->
      
        <div th:replace="common/candidateheader :: commonfooter"></div>
        <!--**********************************
            Footer end
      
        ***********************************-->
 <div th:replace="common/candidateheader :: commonScript">
</div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->




</body>

</html>