<!DOCTYPE html>
<html  lang="en"
xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="common/candidateheader :: commonheader">
</head>

<body>



    <!--*******************
        Preloader start
    ********************-->
    <div th:replace="common/candidateheader :: commonPreloader">
</div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
       <div th:replace="common/candidateheader :: commonNavHeader">
</div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
     <div th:replace="common/candidateheader :: commonTopNav"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       <div th:replace="common/candidateheader :: commonsidenav"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
              
       <div class="listOfEmployees" id="listOfEmployees">
           <div class="container-fluid">
          <div class="alert alert-success" role="alert" th:if="${AddSuccess == 'Success'}">Document Added successfully</div>
		<div class="alert alert-danger" role="alert" th:if="${Addfailed == 'failed'}"> <span th:text="${message}"></span></div>
     	<div class="alert alert-success" role="alert" th:if="${updateSuccess == 'Success'}">Document  Updated successfully</div>
	  	<div class="alert alert-success" role="alert" th:if="${DeleteSuccess == 'Success'}">Record Deleted successfully</div>
	  
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                            <div class="row">
                             <div class="col-10">
                                <h4 class="card-title">Document Details</h4>
                                
                                </div>
                               <div class="col-2">  
                              <button type="button" id="addEmployee" class="btn btn-success"> Add Document</button>
                                </div>
                            </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Document Type</th>
                                                <th>Document Name</th>
                                                <th>Download</th>
                                               
                                                <th>Action</th>
                                            </tr>
                                         

	

   
   

                                       </thead>
                                        <tbody>
                                            <tr th:each="documentinfo,custStat: ${document.candidate_DocumentInfo}">
                                                <td style="text-transform:capitalize" th:text="${documentinfo.typeofDoc}"></td>
                                                <td style="text-transform:capitalize" th:text="${documentinfo.docName}" ></td>
                                                <td >
                                                 <a th:href="@{'/user/downloadDocument/'+ ${documentinfo.documentId}}" class="btn btn-success" >Download</a>
                                                </td>
                                              <td>
                                                <span>
                                                <a th:href="@{'/user/documentInfo/'+ ${documentinfo.documentId}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                <i class="fa fa-pencil-square color-muted m-r-5"></i> </a>
                                                <a  data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                               <button type="button" style="border: none; background-color: transparent;" th:value="${documentinfo.documentId}" onclick="deleteEmployee(this.value)"> <i class="fa fa-trash text-danger"></i></button>
                                                </a>
                                                </span>
                                                </td>
                                            </tr>    
                                        </tbody>
										<!-- <tfoot>
												<tr>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Email</th>
													<th>DOB</th>
													<th>Designation</th>
													<th>Action</th>
												</tr>
											</tfoot> -->
										</table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
            
            <script type="text/javascript">
            const myButton= document.getElementById('addEmployee');
            
            myButton.onclick = function() {
            	document.getElementById('listOfEmployees').style.display="none";
            	document.getElementById('AddEmployeeForm').style.display="block";
            }
            
            
            
            </script>
       
            
            <div class="AddEmployeeForm" id="AddEmployeeForm" style="display: none">

            <div class="container-fluid">
            <div class="card">
                          <div class="card-body">
                                <div class="form-validation">
                                    <form id="employeeForm" th:action="@{/user/addDocument}" method="post" enctype="multipart/form-data" >
                                  
                                        <div class="form-group row">
                                           <input type="hidden" class="form-control" id="candidateId" name="candidateId"  th:value="${document.candidateId} " readonly="readonly" >
                                         
                                            <label class="col-lg-4 col-form-label" for="docFile">Document <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="File" class="form-control" id="docFile" name="docFile" placeholder="Document"  required="required">
               </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="typeofDoc"> Document Type<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                              <select class="form-control" id="typeofDoc" name="typeofDoc">
                                              <option value="" >Select Document Type</option>
    <option value="ssc" >10th/SSC</option>
    <option value="12th" >12th/Inter</option>
    <option value="degree" >Degree/B-tech</option>
    <option value="Masters" >Masters</option>
    <option value="aadhar" >Aadhar</option>
     <option value="Pan Card" >Pan Card</option>
    <option value="voter_id" >Voter Id</option>
      <option value="Masters" >Masters</option>
    <option value="Others" >Others</option>
</select>

                                            </div>
                                        </div>
                                        
                                         
                                   
                                        <div  class="form-group row">
                                            <div class="col-lg-6">
                                                <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                                            </div>
                                             <div class="col-lg-6 ">
                                               <a th:href="@{/user/documentInfo}" class="btn btn-danger">Cancel</a>
                                            </div>
                                        </div>
                                       
                                    </form>
                                </div>
                            </div>
            
            </div>
            </div>
            
         
          
            
            </div>
          <!--   <div id="domainCompair" style="display: none">
            
        <input type="text" id="getCompairEmail" th:value="${#authentication.getPrincipal().getUsername()}">      
            </div> -->
            <!-- #/ container -->
        
        <!--**********************************
            Content body end
        ***********************************-->
          <script type="text/javascript">
        
        function  deleteEmployee(email){
        	document.getElementById('listOfEmployees').style.display="none";
        	document.getElementById('DeleteEmployees').style.display="block";
        document.getElementById("emailId").value=email;
      
        
        }
          
          
          </script>
          
          
         	 <script type="text/javascript">
    var uploadField = document.getElementById("docFile");
    uploadField.onchange = function () {

  if (this.files[0].name.length > 150) {
                alert("File name is limited to 150 characters.");
                this.value = "";
   }
        
        var fileName = this.files[0].name.split('.');
        var fileFormat = fileName[fileName.length - 1];
        
        var validFileFormats = ["jpg", "jpeg", "png", "pdf", "PNG", "JPG", "PDF","docx"];
        // var validFileFormats=["docx","pdf"];
        var validationCount = 0;
        for (var i = 0; i < validFileFormats.length; i++) {
            if (validFileFormats[i] == fileFormat.toLowerCase()) {
                validationCount++;
                i = validFileFormats.length;
            }
        }
        if (validationCount == 0) {
            alert("File format should be jpg, jpeg, png, pdf,docx");
            this.value = "";
        }

 

        const fileSize = this.files[0].size / 1024 / 1024;
        if (fileSize > 1) {
            alert("Maximum file size allowed is 1MB, please try with different file.");
            this.value = "";
        }
    };
</script> 
          
          
   
         <script type="text/javascript">
        
        $("#passingYear").on("keypress", function (e) {
            if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                e.preventDefault();
        })
        
           $("#degree").on("keypress", function (e) {
            if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                e.preventDefault();
        })
        
           $("#specialization").on("keypress", function (e) {
            if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                e.preventDefault();
        })
        
           $("#universityName").on("keypress", function (e) {
            if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                e.preventDefault();
        })
        
   
        </script>
        
        
      

        
          <div class="DeleteEmployees" id="DeleteEmployees" style="display: none;margin-top:5%">
 <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                    
                            <div class="row">
                               <div class="col-3">
                               </div>
                             <div class="col-6">
                             <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-danger">Delete</h4>
                                
                           <div class="text-center">
                           <br>
                           <br>
                           
                           <h3 class="color-muted">Are you sure you want to delete this record</h3>
                           
                            <br>
                           <br>
                          
                           </div>     
                           
                           <form th:action="@{/user/deleteDocument}" method="post">
                           
                           
                           <input type="hidden" id="emailId" name="emailId" value="">
                           
                           
                                       <div  class="form-group row">
                                            <div class="col-lg-6">
                                                <button type="submit" class="btn btn-danger" style="float: right;">Yes</button>
                                            </div>
                                             <div class="col-lg-6 ">
                                               <a th:href="@{/user/documentInfo}" class="btn btn-secondary">No</a>
                                            </div>
                                        </div>
                                
                               </form> 
                                </div>
                              
                            </div>
                           
                            </div>
                             <div class="col-3">
                               </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>    
</div>
      
       
     

       
     
     
      
   
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
      
 <div th:replace="common/candidateheader :: commonfooter"></div>
        <!--**********************************
            Footer end
      
        ***********************************-->
 <div th:replace="common/candidateheader :: commonScript"></div>
 
 	<div th:replace="common/candidateheader :: commonDatetimeAndColorPickerScript"></div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->



</body>

</html>