<!DOCTYPE html>
<html  lang="en"
xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="common/candidateheader :: commonheader">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div th:replace="common/candidateheader :: commonPreloader">
</div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
       <div th:replace="common/candidateheader :: commonNavHeader">
</div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
     <div th:replace="common/candidateheader :: commonTopNav"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       <div th:replace="common/candidateheader :: commonsidenav"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
 
            
      <div class="container-fluid">
             <div class="alert alert-danger" role="alert" th:if="${updatefailed== 'failed'}"> <span th:text="${message}"></span></div>
     	   <div style="display: none" id="datesError" class="alert alert-danger" role="alert"> <span>Future dates cannot be accepted</span></div>
     	
            <div class="card">
                          <div class="card-body">
                                <div class="form-validation">
                                    <form id="experienceform" th:action="@{/user/updateExperience}" method="post">
                                  
                                        <div class="form-group row">
                                          <input type="hidden" class="form-control" id="candidateId" name="candidateId"  th:value="${experience.candidateId} " readonly="readonly" >
                                                               <input type="hidden" class="form-control" id="experienceId" name="experienceId"  th:value="${experience.experienceId} " readonly="readonly" >
                                            <label class="col-lg-4 col-form-label" for="companyName">Company Name <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="companyName" name="companyName" th:value="${experience.companyName} "  placeholder="companyName" maxlength="150"    required="required">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="designation">Designation <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="designation" name="designation" placeholder="Designation" maxlength="150" th:value="${experience.designation} "   oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*?)\..*/g, '$1');" required="required">
               </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="location">location <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="location" name="location" placeholder="Location" th:value="${experience.location} "   required="required" >
                                          <div class="numberErrors" id="numberErrors" style="display: none;color:red">
               Enter Valid Year
                  </div>
                                            </div>
                                        </div>
                                        
                                           <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="joiningDate">Joining Date<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                           <input type="date"  class="form-control mydatepicker"placeholder="yyyy-mm-dd" name="joiningDate" id="joiningDate" th:value="${experience.joiningDate} "   required="required" >
                            
                                        </div>
                                        </div>
                                                                   <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="lastWorkingDate">Last Working Date<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                           <input type="date" class="form-control mydatepicker" placeholder="yyyy-mm-dd" name="lastWorkingDate" id="lastWorkingDate"  th:value="${experience.lastWorkingDate} "  required="required" >
                            
                                        </div>
                                        </div>
                                      <!--   <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="years">Years <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                           <input type="text" class="form-control" placeholder="years" name="years" th:value="${experience.years} "  maxlength="2"  id="universityName" required="required" >
											
                                        </div>
									
                                    </div> -->
                                        <div  class="form-group row">
                                            <div class="col-lg-6">
                                                <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                                            </div>
                                             <div class="col-lg-6 ">
                                               <a th:href="@{/user/experience}" class="btn btn-danger">Cancel</a>
                                            </div>
                                        </div>
                                       
                                    </form>
                                </div>
                            </div>
            
            </div>
            </div>
         
        
        
        <!--**********************************
            Content body end
        ***********************************-->
    
       <script type="text/javascript">
       
      
       const from =document.getElementById("experienceform");
       const joiningDate= document.getElementById("joiningDate");
       const lastWorkingDate= document.getElementById("lastWorkingDate");
       
       from.addEventListener('submit',function(e){
    	   let meassage=[];
    	   var date1=joiningDate.value;
    	   var date2=lastWorkingDate.value;
    	   var today=new Date();
    	    var day1=new Date(date1);
    	    var day2=new Date(date2);
    	    console.log(day1>today);
    	    console.log(day2>today);
    	    
    	   if(day1>today||day2>today){
    		  meassage.push("password length"); 
    		  document.getElementById("datesError").style.display='block'; 
    		
    	  } else{
    		  document.getElementById("datesError").style.display='none'; 
    	  }
    	   
    	 
    	   
    	  if(meassage.length>0){
			  e.preventDefault();
		  }
    	  
    	   
    	   
       });
       
       
       
       </script>   
          
          
          <script type="text/javascript">
          $("#companyName").on("keypress", function (e) {
              if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                  e.preventDefault();
          })
          
             $("#designation").on("keypress", function (e) {
              if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                  e.preventDefault();
          })
          
             $("#location").on("keypress", function (e) {
              if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                  e.preventDefault();
          })
          
          
          
          
          </script>
          
        
        
     
        
        
      

        
</div>
      
       
     

       
     
     
      
   
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
      
        <div th:replace="common/candidateheader :: commonfooter"></div>
        <!--**********************************
            Footer end
      
        ***********************************-->
 <div th:replace="common/candidateheader :: commonScript">
</div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->




</body>

</html>