<!DOCTYPE html>
<html  lang="en"
xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="common/candidateheader :: commonheader">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div th:replace="common/candidateheader :: commonPreloader">
</div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
       <div th:replace="common/candidateheader :: commonNavHeader">
</div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
     <div th:replace="common/candidateheader :: commonTopNav"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       <div th:replace="common/candidateheader :: commonsidenav"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
              

       
                
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
      
        <div th:replace="common/candidateheader :: commonfooter"></div>
        <!--**********************************
            Footer end
      
        ***********************************-->
 <div th:replace="common/candidateheader :: commonScript">
</div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->




</body>

</html>