<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="common/homecommon :: homecommonheader">
</head>

<body class="landing-page">
  <!-- Navbar -->
<nav th:replace="common/homecommon :: homecommonnav">
</nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="section section-hero section-shaped">
      <div class="shape shape-style-3 shape-default">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="text-white display-1">About Us</h1>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <div class="section features-6">
      <div class="container">
        <div class="card card-profile shadow mt--50">
          <div class="px-4">
     <!--        <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
               
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="text-center mt-5">
              <h3><span class="font-weight-light">Empowering Employers with Innovative Solutions for Smart Hiring Decisions</span></h3>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                <p>We work with the increasingly wide variety of organisations that exist in today's global business environment. With simple, streamlined solutions, we can help you solve even the toughest background screening problems and help your business work smarter.</p>
                  <p>Employers need much more than just raw data to operate a successful employment screening program. As one of the world's largest providers of employment screening services, BGC specialises in helping organisations of all sizes and locations efficiently implement, manage and control their screening programs..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <span class="badge badge-primary badge-pill mb-3"></span>
            <h3 class="display-3">Get IN Touch</h3>
            <p class="btn btn-primary ">Contact Sales.</p>
          </div>
        </div>
  
      </div>
    </div>
    <br /><br />
 <footer th:replace="common/homecommon :: homecommonfooter"></footer>
  </div>
<div th:replace="common/homecommon :: homecommonscript">

</div>
</body>

</html>