
<!DOCTYPE html>
<html class="h-100" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BGC</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
  

  



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                           <div th:if="${removeForgetPassword != 'forgetPassword'}">
                                <a class="text-center" href="#"> <h2>Forgot Password</h2></a>
                                <br>
                                
                                <div class="text-center"><h4></h4></div>
                                	<div class="alert alert-success" role="alert" th:if="${Successfull == 'success'}">Reset password link has been sent to email </div>
					        
					        	<div class="alert alert-danger" role="alert" th:if="${failed == 'fail'}"> <span th:text="${message}"></span></div>
        
                                <form class="mt-5 mb-5 login-input" role="form" th:action="@{/forgetPassword}" method="post">
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="email" id ="email" placeholder="Email" required="required">
                                    </div>
                             <button  type="submit"  class="btn login-form__btn submit w-100">Submit</button>
                                </form>
                           </div>
                               <div th:if="${removeForgetPassword == 'forgetPassword'}">
                                <a class="text-center" href="#"> <h2>Reset Password</h2></a>
                                <br>
                                
                                <div class="text-center"><h4></h4></div>
                                	<div class="alert alert-success" role="alert" th:if="${Successfull == 'success'}"> password updated successfully  to <a th:href="@{/login}" class="btn btn-success"> Login</a>   </div>
					        
					        	<div class="alert alert-danger" role="alert" th:if="${failed == 'fail'}"> <span th:text="${message}"></span></div>
					        	        
                                                          <div class="PassEqual" id="PassEqual" style="display: none;color:red">
Password and confirm password needs to be same
                  </div>
        <div  th:if="${disableFormfields != 'disable'}">
                                <form id="signForm" class="mt-5 mb-5 login-input" role="form" th:action="@{/forgetPassword/verify/}" method="post">
                                    <div class="form-group">
                                        <input class="form-control" type="hidden" name="vCode" id ="Vcode" th:value="${userdetails.vCode}" required="required">
                                    </div>
                                       <div class="form-group">
                                    <div style="display: flex">
                                        <input type="password" class="form-control" name="password" id="password" maxlength="16" placeholder="Password" required>
                                              <span class="form-control-text mt-1"><i class="far fa-eye" id="togglePassword"></i></span>

                </div>
                                          <div class="PassLength" id="PassLength" style="display: none;color:red">
Password must contain Minimum 6 and Maximum 16 characters
                  </div>
                  <div class="WrongPass" id="WrongPass" style="display: none;color:red">
Password should contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character
                  </div>
                                    </div>
                                      <div class="form-group">
                                      <div style="display:flex">
                                        <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword"  maxlength="16" required>
                                              <span class="form-control-text mt-1"><i class="far fa-eye" id="togglePassword1"></i></span>
                                           
                </div>
                                    </div>
                             <button  type="submit"  class="btn login-form__btn submit w-100">Submit</button>
                                </form>
                              </div>  
                           </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script type="text/javascript">
    const from =document.getElementById("signForm"); 
    const password =document.getElementById("password");
    const ConfirmPassword =document.getElementById("confirmPassword");
    
    from.addEventListener('submit',(e)=>{
		  let meassage=[];
		  let pass1=passValidation();
		  let minlength=6;
		  let maxlength=16;
		  
		  if(password.value.length< minlength || password.value.length > maxlength){
			  meassage.push("password length"); 
			  document.getElementById("PassLength").style.display='block'; 
  			
		     console.log("password length")
		    }else{
		    	  document.getElementById("PassLength").style.display='none';                   				
		    }
		  
		  if(pass1==false){
			  meassage.push("alteast one upper case and one lowercase"); 
		  }else{  
			  document.getElementById("WrongPass").style.display='none'; 
		  }
		  
		  if(password.value==ConfirmPassword.value){
			  document.getElementById("PassEqual").style.display='none'; 
		  }else{ 
			  meassage.push("password length"); 
			  document.getElementById("PassEqual").style.display='block'; 
		  }
		  
		  if(meassage.length>0){
			  e.preventDefault();
		  }
		  
		  });
    
    
    function passValidation(){
    	   var PassregularExpression  =/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
    	    if(password.value.match(PassregularExpression)){
    				  return true;  
    			  }else{	
    				  document.getElementById("WrongPass").style.display='block'; 
    				  return false;
    			  }
    	  	  
    	    }
    
    $(function() {
  	    $('#password').on('keypress', function(e) {
  	    
  	        if (e.which == 32||e.which==39){
  	            return false;
  	        }
  	    });
  	});
    
    $(function() {
  	    $('#confirmPassword').on('keypress', function(e) {
  	    
  	        if (e.which == 32||e.which==39){
  	            return false;
  	        }
  	    });
  	});
    
   </script>


  
    
    <script type="text/javascript">
const togglePassword = document.querySelector('#togglePassword');
const password2 = document.querySelector('#password');

togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

const togglePassword1 = document.querySelector('#togglePassword1');
const password1 = document.querySelector('#confirmPassword');
togglePassword1.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

</script>
    <!--**********************************
        Scripts
    ***********************************-->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/plugins/common/common.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/gleek.js"></script>
    <script src="/js/styleSwitcher.js"></script>
</body>
</html>





