<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="common/header :: commonheader">
</head>

<body>

	<!--*******************
        Preloader start
    ********************-->
	<div th:replace="common/header :: commonPreloader"></div>
	<!--*******************
        Preloader end
    ********************-->


	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">

		<!--**********************************
            Nav header start
        ***********************************-->
		<div th:replace="common/header :: commonNavHeader"></div>
		<!--**********************************
            Nav header end
        ***********************************-->

		<!--**********************************
            Header start
        ***********************************-->
		<div th:replace="common/header :: commonTopNav"></div>
		<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

		<!--**********************************
            Sidebar start
        ***********************************-->
		<div th:replace="common/header :: commonsidenav"></div>
		<!--**********************************
            Sidebar end
        ***********************************-->

		<!--**********************************
            Content body start
        ***********************************-->
		<div class="content-body">

			<div class="container-fluid mt-3">










				<div class="container-fluid">
					<div class="alert alert-success" role="alert"
						th:if="${Successfull == 'success'}">Setup updated
						successfully</div>

					<div class="alert alert-danger" role="alert"
						th:if="${failed == 'fail'}">
						<span th:text="${message}"></span>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-8">

							<div class="card">
								<div id="editButton">
									<button
										style="float: right; margin-right: 30px; margin-top: 20px"
										type="button" class="btn btn-primary" id="myButton">EDIT</button>
								</div>

								<div class="card-body">
									<div class="form-validation">
										<form id="setUpForm" th:action="@{/setup}" method="post">
											<div class="form-group row">
												<input type="hidden" class="form-control" id="customerId"
													name="customerId" th:value="${setup.customerId}"> <label
													class="col-lg-4 col-form-label" for="emailId">Email
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="email" class="form-control" id="emailId"
														name="emailId" placeholder="Email" readonly="readonly"
														th:value="${setup.emailId}" required="required">
													<div class="errors1" id="errors1"
												style="display: none; color: red">Please enter
												valid email id</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="password">Password
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">

													<input type="password" class="form-control" id="password"
														name="password" placeholder="password " maxlength="200"
														readonly="readonly" th:value="${setup.password}"
														required="required">
													<!-- 	 <span style="padding: 10px;" class="form-control-text mt-1"><i class="far fa-eye" id="togglePassword"></i></span> -->

												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="host">Host<span
													class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="host"
														name="host" placeholder="Host" th:value="${setup.host}"
														readonly="readonly" required="required">
															<div class="hosterrors" id="hosterrors"
												style="display: none; color: red">Please enter valid host</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="Port">port<span
													class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="Port"
														name="Port" placeholder="Port" th:value="${setup.Port}"
														maxlength="6" required="required" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" readonly="readonly">
														<div class="portErrors" id="portErrors"
												style="display: none; color: red">port must contain
												2 digits</div>
												</div>
											</div>

											<div id="Submitbutton" style="display: none;">
												<div class="form-group row">
													<div class="col-lg-6">
														<button type="submit" class="btn btn-primary"
															style="float: right;">Submit</button>
													</div>
													<div class="col-lg-6 ">
														<a th:href="@{/setup}" class="btn btn-danger">Cancel</a>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- #/ container -->
		</div>
		<!--**********************************
            Content body end
        ***********************************-->
		<script type="text/javascript">    
        const from =document.getElementById("setUpForm");
        const email =document.getElementById("emailId");
        const password =document.getElementById("password");
        const host =document.getElementById("host");
        const port =document.getElementById("Port");
       
        const editButton =document.getElementById("editButton");
       const Submitbutton=document.getElementById("Submitbutton");
       const myButton= document.getElementById('myButton');
      
        
       myButton.onclick = function() {
        	email.removeAttribute('readonly');
        	password.removeAttribute('readonly');
        	host.removeAttribute('readonly');
        	port.removeAttribute('readonly');
        	editButton.style.display="none";    
        	Submitbutton.style.display="block";
        };
        
from.addEventListener('submit',(e)=>{
	  let meassage=[];
	  let email1=emailValidate(); 
	  let hostVal= hostValidate();
	  
   	  if(email1==false){
			  meassage.push("enter valid email"); 
		  }else{  
			  document.getElementById("errors1").style.display='none'; 
		  } 
	  
   if(hostVal==false){
		  meassage.push("ente valid host"); 
	
	  }else{  
		  document.getElementById("hosterrors").style.display='none'; 
	  } 
	
	  
  	  if(port.value.trim().length<2){
	  meassage.push("enter valid port number"); 
	  document.getElementById("portErrors").style.display='block'; 
	  }else{
			 document.getElementById("portErrors").style.display='none';   
		  }
   	  
	  
   	  if(meassage.length>0){
		  e.preventDefault();
	  }
   	  
	  
});

function emailValidate(){
    var emailRE6=/^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$/;
	  
	 if(email.value.match(emailRE6)){
			  return true;  
		  }else{	
			 document.getElementById("errors1").style.display='block'; 
			 return false;
			 
		  }
}

 function hostValidate(){
  var regexhost="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$";
	 if(host.value.match(regexhost)){
			  return true;  
		  }else{	
			 document.getElementById("hosterrors").style.display='block'; 
			 return false;
			 
		  }
}
     
        </script>
        
       
		<!--         
        <script type="text/javascript">
        const togglePassword = document.querySelector('#togglePassword');
        const password2 = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
            password2.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });   
        
        </script> -->

		<script type="text/javascript">
        
        
      
        
           $("#emailId").on("keypress", function (e) {
            if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                e.preventDefault();
        })
        
           $("#password").on("keypress", function (e) {
            if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                e.preventDefault();
        })
        
           $("#Port").on("keypress", function (e) {
            if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                e.preventDefault();
        })
        
           $("#host").on("keypress", function (e) {
            if ((!this.value.length && e.keyCode == 39) || (!this.value.length && e.keyCode == 32))
                e.preventDefault();
        })
        
        </script>
		<!--**********************************
            Footer start
        ***********************************-->

		<div th:replace="common/header :: commonfooter"></div>
		<!--**********************************
            Footer end
      
        ***********************************-->
		<div th:replace="common/header :: commonScript"></div>
	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->




</body>

</html>