<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="common/header :: commonheader">
</head>

<body>

	<div th:replace="common/header :: commonDateandCollerPickerCss"></div>
	<!--*******************
        Preloader start
    ********************-->
	<div th:replace="common/header :: commonPreloader"></div>
	<!--*******************
        Preloader end
    ********************-->


	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">

		<!--**********************************
            Nav header start
        ***********************************-->
		<div th:replace="common/header :: commonNavHeader"></div>
		<!--**********************************
            Nav header end
        ***********************************-->

		<!--**********************************
            Header start
        ***********************************-->
		<div th:replace="common/header :: commonTopNav"></div>
		<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

		<!--**********************************
            Sidebar start
        ***********************************-->
		<div th:replace="common/header :: commonsidenav"></div>
		<!--**********************************
            Sidebar end
        ***********************************-->


		<!--**********************************
            Content body start
        ***********************************-->
		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
						<a		th:href="@{'/candidateInfo/'+ ${candidateId}}"
															data-toggle="tooltip" data-placement="top" title=""
															data-original-title="info"> <i
																class="btn btn-primary  color-muted m-r-5">Back</i>
														</a>
							<div class="card-body">
								<div class="row">
									<div th:if="${ssnInfo.areaNum !=null}" class="col-lg-12">
										<div class="row">
											<label class="col-lg-3 col-form-label" for="">Area
												Number: </label>
											<div class="col-form-label">
												<span th:text="${ssnInfo.areaNum}"></span>
											</div>
										</div>
									</div>
									<div th:if="${ssnInfo.groupNum !=null}" class="col-lg-12">
										<div class="row">
											<label class="col-lg-3 col-form-label" for="companyName">Group
												Number: </label>
											<div class="col-form-label">
												<span th:text="${ssnInfo.groupNum}"></span>
											</div>
										</div>
									</div>
					
									<div th:if="${ssnInfo.codeDigit!=null}" class="col-lg-12">
										<div class="row">
											<div class="col-lg-12">
												<div class="row">
													<label class="col-lg-3 col-form-label" for="">Code:
													</label>
													<div class="col-form-label">
														<span th:text="${ssnInfo.codeDigit.code}"></span>
													</div>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="row">
													<label class="col-lg-3 col-form-label" for="">Description:
													</label>
													<div class="col-form-label">
														<span th:text="${ssnInfo.codeDigit.description}"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
										<div th:if="${ssnInfo.issueDateRange!= null}" class="col-lg-12">
										<div class="row">
											<div class="col-lg-12">
												<div class="row">
													<label class="col-lg-3 col-form-label" for="">Start Date:
													</label>
													<div class="col-form-label">
														<span th:text="${ssnInfo.issueDateRange.startDt}"></span>
													</div>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="row">
													<label class="col-lg-3 col-form-label" for="">End Date:
													</label>
													<div class="col-form-label">
														<span th:text="${ssnInfo.issueDateRange.endDt}"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
										<div th:if="${ssnInfo.beginRange != null}" class="col-lg-12">
										<div class="row">
											<label class="col-lg-3 col-form-label" for="">Begin Range: </label>
											<div class="col-form-label">
												<span th:text="${ssnInfo.beginRange}"></span>
											</div>
										</div>
									</div>
								   	<div th:if="${ssnInfo.stateProv != null}" class="col-lg-12">
										<div class="row">
											<label class="col-lg-3 col-form-label" for="">StateProv: </label>
											<div class="col-form-label">
												<span th:text="${ssnInfo.stateProv}"></span>
											</div>
										</div>
									</div>
								     
								 			<div th:if="${ssnInfo.message != null}" class="col-lg-12">
										<div class="row">
									
											<div th:each="messages,custStat: ${ssnInfo.message}" class="col-lg-12">
												<div class="row">
													<label class="col-lg-3 col-form-label" for=""><span th:text="${messages.msgClass}"></span>
													</label>
													<div class="col-form-label">
														<span th:text="${messages.text}"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div th:if="${ssnInfo.sSNStatus !=null}" class="col-lg-12">
										<div class="row">
											<label class="col-lg-3 col-form-label" for="companyName">SSN Status: </label>
											<div class="col-form-label alert alert-success"  th:if="${ssnInfo.sSNStatus =='Item1'}"  >
												<span>Verified</span>
											</div>
												<div class="col-form-label alert alert-danger"  th:if="${ssnInfo.sSNStatus =='Item0'}"  >
												<span>Given SSN Number is not valid</span>
											</div>
										</div>
									</div>
									<div th:if="${ssnInfo.sSNStatus ==null}" class="col-lg-12">
										<div class="row">
											<label class="col-lg-3 col-form-label" for="companyName">SSN Status: </label>
											<div class="col-form-label alert alert-success"    >
												<span>Given SSN Number is not valid</span>
											</div>
											
										</div>
									</div>
								     
								     
								    
								          
								      
								   
								   
								
								</div>
							</div>
						</div>
				

						
					</div>
				</div>
			</div>






			<!-- #/ container -->

			<!--**********************************
            Content body end
        ***********************************-->

	










		</div>
		<!--**********************************
            Content body end
        ***********************************-->


		<!--**********************************
            Footer start
        ***********************************-->

		<div th:replace="common/header :: commonfooter"></div>
		<!--**********************************
            Footer end
      
        ***********************************-->
		<div th:replace="common/header :: commonScript"></div>



		<div th:replace="common/header :: commonDatetimeAndColorPickerScript"></div>


		<!--**********************************
        Main wrapper end
    ***********************************-->
</body>

</html>